﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Lost Pet Service</h1>
</div>

<div class="row" style="margin-top:50px;">
    <div class="row">
        <div class="container">
            <div class="col-lg-6">
                <br />
                <form action="#" class="form-inline">
                    <input type="text" id="prodId" class="form-control" size="100" placeholder="Find a pet by name or type..." data-bind="value: filterText, valueUpdate:'afterkeydown'" />
                </form>
                <br />
                <ul data-bind="foreach: filteredPets">
                    <li>
                        <h3>Pet found: <span data-bind="text: Name"></span> Type: <span data-bind="text: Type"></span></h3>
                        <small><a href="#" data-bind="click: $parent.getPetDetail">Details</a></small>
                    </li>
                </ul>
                <br />
            </div>
            <div class="col-lg-6">
                <br /><br />
                <div class="pull-right" style="margin-right:15px; font-size:20px;"><strong data-bind="text: count"></strong><strong> Pets Currently Lost</strong></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Lost Pets</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: pets">
                    <li>
                        <strong><span>Name</span></strong>: <span data-bind="text: Name"></span>
                        <small><a href="#" data-bind="click: $parent.getPetDetail">Details</a></small>
                        <small><a href="#" data-bind="click: $parent.editPet">Edit</a></small>
                        <small><a href="#" data-bind="click: $parent.deleterec">Delete</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Pet Details</h2>
            </div>
            <table class="table">
                <tr><td>Name:</td><td data-bind="text: detail().Name"></td></tr>
                <tr><td>Type:</td><td data-bind="text: detail().Type"></td></tr>
                <tr><td>Chipped?</td><td data-bind="text: detail().isChipped"></td></tr>
                <tr><td>Description:</td><td data-bind="text: detail().Description"></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if:edit() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Edit Pet Details</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: updatePet">
                    <div class="form-group">
                        <label for="Id" class="col-sm-4 control-label">ID:</label>
                        <div class="col-sm-8">
                            <input class="form-control" disabled="disabled" type="text" name="Id" data-bind="value: edit().Id" />
                        </div>
                            <label for="inputName" class="col-sm-4 control-label">Name:</label>
                            <div class="col-sm-8">
                                <input type="text" name="Name" class="form-control" id="inputName" data-bind="value: edit().Name" />
                            </div>
                            <br /><br /><br />
                            <label for="inputType" class="col-sm-4 control-label">Type:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputType" data-bind="value: edit().Type">
                                    <option value="Cat">Cat</option>
                                    <option value="Dog">Dog</option>
                                    <option value="Hamster">Hamster</option>
                                    <option value="Rabbit">Rabbit</option>
                                    <option value="Fish">Fish</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <br /><br /><br />
                            <label for="inputChipped" class="col-sm-4 control-label">Microchipped?</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" id="inputChipped" value="true" data-bind="value: edit().isChipped" />
                            </div>
                            <br /><br /><br />
                            <label for="Description" class="col-sm-4 control-label">Description:</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="Description" data-bind="value: edit().Description" maxlength="250" cols="20" rows="10" name="Description" spellcheck="true"></textarea>
                                <small id="remaining" style="float:right;">Remaining characters: 250</small>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success" style="width:100%;">Edit Pet Record</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <!-- Add Pet -->
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Add Pet</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addPet">
                    <div class="form-group" data-bind="with: newPet">
                        <label for="inputName" class="col-sm-4 control-label">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputName" data-bind="value: Name" />
                        </div>
                        <br /><br /><br />
                        <label for="inputType" class="col-sm-4 control-label">Type:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="inputType" data-bind="value: Type">
                                <option value="Cat">Cat</option>
                                <option value="Dog">Dog</option>
                                <option value="Hamster">Hamster</option>
                                <option value="Rabbit">Rabbit</option>
                                <option value="Fish">Fish</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <br /><br /><br />
                        <label for="inputChipped" class="col-sm-4 control-label">Microchipped?</label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-control" id="inputChipped" value="true" data-bind="value: isChipped" />
                        </div>
                        <br /><br /><br />
                        <label for="inputDescription" class="col-sm-4 control-label">Description:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="inputDescription" data-bind="value: Description" maxlength="250" cols="20" rows="10" name="Description" spellcheck="true"></textarea>
                            <small id="remaining" style="float:right;">Remaining characters: 250</small>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success" style="width:100%;">Report Lost Pet</button>
                </form>
            </div>
        </div>
    </div>
</div>